<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
    {% block html %}
        <head>
            {% block head %}
                <meta charset="utf-8">
                <title>{% block title -%}
                    {%- if TITLE %}{{ TITLE | striptags }}
                        {% if page_obj and (page_obj.paginator.num_pages > 1) %}
                            ({{ _('Page {page} of {num_pages}') | f(page=page_obj.number, num_pages=page_obj.paginator.num_pages) }})
                        {% endif %}
                        -
                    {% endif %}
                    Mozilla Badges
                {%- endblock title %}</title>
                <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/favicon.ico">
                {% block css %}
                    {% compress css %}
                        <link rel="stylesheet" media="all" href="{{ static('browserid/persona-buttons.css') }}">
                    {% endcompress %}
                    <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css?build=61d5d5c">
                    <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
                {% endblock css %}
                <!--[if lte IE 8]>
                    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
                <![endif]-->
            {% endblock head %}
        </head>
        <body id="{% block pageid -%}
            {% if PAGE_ID %}{{ PAGE_ID }}{% endif %}
        {%- endblock %}" class="html-{{ DIR }} {% block bodyclass -%}
            {% if PAGE_CLASS %}{{ PAGE_CLASS }}{% endif %}
        {%- endblock %}">
            {% block body %}
                {{ persona_info() }}
                <div id="access-nav">
                    <a href="#content" id="skip-main">{{ _('Skip to content') }}</a>
                    <a href="#navigation" id="skip-nav">{{ _('Skip to main menu') }}</a>
                </div>
                {% block outer_page %}
                    <div id="outer-wrapper">
                        <div id="wrapper">
                            {% block page %}
                                {% block outer_header %}
                                    <header id="masthead" role="banner">
                                        {% block inner_header %}
                                            <div class="constrained">
                                                {% block header %}
                                                    {% block site_title %}
                                                        <h1 class="title">
                                                            <a href="http://www.mozilla.org/" id="tabzilla" aria-label="Mozilla links">Mozilla</a>
                                                            <a href="{{ url('home') }}" id="nav-home">Badges</a>
                                                        </h1>
                                                    {% endblock site_title %}
                                                    {% block banner %}
                                                        <div class="navigation">
                                                            {% block outer_navigation %}
                                                                <nav id="navigation" class="menu" role="navigation">
                                                                    {% block inner_navigation %}
                                                                        <ul>
                                                                            {% block navigation %}
                                                                                <li><a href="{{ url('badges:all') }}">{{ _('Badges') }}</a></li>
                                                                                <li><a href="{{ url('teams:all') }}">{{ _('Teams') }}</a></li>
                                                                                {% if request.user.is_staff -%}
                                                                                    <li><a href="{{ url('admin:index') }}">{{ _('Admin') }}</a></li>
                                                                                {%- endif %}
                                                                                <li><a href="">{{ _('About') }}</a></li>
                                                                                <li><a href="">{{ _('Help') }}</a></li>
                                                                            {% endblock navigation %}
                                                                        </ul>
                                                                    {% endblock inner_navigation %}
                                                                </nav>
                                                            {% endblock outer_navigation %}
                                                            {% block outer_userbar %}
                                                                <p class="user">
                                                                    {% block inner_userbar %}
                                                                        {% block userbar %}
                                                                            {%- if request.user.is_authenticated() -%}
                                                                                {%- block userbar_loggedin -%}
                                                                                    {%- trans url=url('account:home'), name=request.user, id=request.user.email -%}
                                                                                        Welcome, <a class="signed-in-user" data-id="{{id}}" href="{{url}}">{{name}}</a>
                                                                                    {%- endtrans %}
                                                                                    |
                                                                                    {{ persona_logout() }}
                                                                                {%- endblock userbar_loggedin -%}
                                                                            {%- else -%}
                                                                                {%- block userbar_loggedout -%}
                                                                                    {{ persona_login() }}
                                                                                {%- endblock userbar_loggedout -%}
                                                                            {%- endif -%}
                                                                        {% endblock userbar %}
                                                                    {% endblock inner_userbar %}
                                                                </p>
                                                            {% endblock outer_userbar %}
                                                        </div>
                                                    {% endblock banner %}
                                                {% endblock header %}
                                            </div>
                                        {% endblock inner_header %}
                                    </header>
                                {% endblock outer_header %}
                                {% block outer_content %}
                                    <main id="content" role="main">
                                        {% block inner_content %}
                                            <div class="constrained">
                                                {% block page_title_wrapper %}
                                                    <h2>{% block page_title -%}
                                                        {% if TITLE %}{{ TITLE }}{% endif %}
                                                    {%- endblock page_title %}</h2>
                                                {% endblock page_title_wrapper %}
                                                {% block content %}
                                                {% endblock content %}
                                            </div>
                                        {% endblock inner_content %}
                                    </main>
                                {% endblock outer_content %}
                                {% block outer_footer %}
                                    <footer id="footer" role="contentinfo">
                                        {% block inner_foooter %}
                                            <div class="constrained">
                                                {% block footer %}
                                                {% endblock footer %}
                                            </div>
                                        {% endblock %}
                                    </footer>
                                {% endblock outer_footer %}
                            {% endblock page %}
                        </div>
                    </div>
                {% endblock outer_page %}
                {% block js %}
                    <script src="https://login.persona.org/include.js"></script>
                    {% compress js %}
                        <script src="{{ static('js/lib/jquery-1.11.1.min.js') }}"></script>
                        <script src="{{ static('browserid/api.js') }}"></script>
                        <script src="{{ static('browserid/browserid.js') }}"></script>
                    {% endcompress %}
                    <script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js?build=61d5d5c"></script>
                {% endblock %}
            {% endblock body %}
        </body>
    {% endblock %}
</html>