{% if (not TITLE) and page_title %}{% set TITLE = page_title %}{% endif -%}
<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
    {% block html %}
        <head>
            {% block head %}
                <meta charset="utf-8">
                <title>{% block title -%}
                    {%- if TITLE %}{{ TITLE | striptags }}
                        {% if page_obj and (page_obj.paginator.num_pages > 1) %}
                            ({{ _('Page {page} of {num_pages}') | f(page=page_obj.number, num_pages=page_obj.paginator.num_pages) }})
                        {% endif %}
                        -
                    {% endif %}
                    Mozilla Badges
                {%- endblock title %}</title>
                {# <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/favicon.ico"> #}
                {% block css %}
                    {% compress css %}
                        <link rel="stylesheet" media="all" href="{{ static('css/normalize.css') }}">
                        <link rel="stylesheet" media="all" href="{{ static('css/layout.css') }}">
                        <link rel="stylesheet" media="all" href="{{ static('css/visuals.css') }}">
                        <link rel="stylesheet" media="all" href="{{ static('css/responsive.css') }}">
                        <link rel="stylesheet" media="all" href="{{ static('browserid/persona-buttons.css') }}">
                    {% endcompress %}
                    <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css?build=61d5d5c">
                    <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
                {% endblock css %}
                <!--[if lte IE 8]>
                    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
                <![endif]-->
            {% endblock head %}
        </head>
        <body id="{% block pageid -%}
            {% if PAGE_ID %}{{ PAGE_ID }}{% endif %}
        {%- endblock %}" class="html-{{ DIR }} {% block bodyclass -%}
            {% if PAGE_CLASS %}{{ PAGE_CLASS }}{% endif %}
        {%- endblock %}">
            {% block body %}
                {{ persona_info() }}
                <div id="access-nav">
                    <a href="#content" id="skip-main">{{ _('Skip to content') }}</a>
                    <a href="#navigation" id="skip-nav">{{ _('Skip to main menu') }}</a>
                </div>
                {% block outer_page %}
                    <div id="outer-wrapper">
                        <div id="wrapper">
                            {% block page %}
                                {% block outer_header %}
                                    <header id="masthead" role="banner">
                                        {% block inner_header %}
                                            <div class="constrained">
                                                {% block header %}
                                                    {% block site_title %}
                                                        <h1 class="title">
                                                            <a href="http://www.mozilla.org/" id="tabzilla" class="org" aria-label="Mozilla links">Mozilla</a>
                                                            <a href="{{ url('home') }}" id="nav-home" class="brand">Badges</a>
                                                        </h1>
                                                    {% endblock site_title %}
                                                    {% block outer_navigation %}
                                                        <div class="navigation">
                                                            {% block inner_navigation %}
                                                                <nav id="navigation" role="navigation">
                                                                    {% block navigation %}
                                                                        <ul class="menu">
                                                                            {% block navigation_menu %}
                                                                                <li class="menu-item"><a href="{{ url('badges:all') }}">{{ _('Badges') }}</a></li>
                                                                                <li class="menu-item"><a href="{{ url('teams:all') }}">{{ _('Teams') }}</a></li>
                                                                                {% if request.user.is_staff -%}
                                                                                    <li class="menu-item"><a href="{{ url('admin:index') }}">{{ _('Admin') }}</a></li>
                                                                                {%- endif %}
                                                                                <li class="menu-item"><a href="">{{ _('About') }}</a></li>
                                                                                <li class="menu-item"><a href="">{{ _('Help') }}</a></li>
                                                                            {% endblock navigation_menu %}
                                                                        </ul>
                                                                    {% endblock navigation %}
                                                                </nav>
                                                            {% endblock inner_navigation %}
                                                            {% block outer_userbar %}
                                                                <p class="user">
                                                                    {% block inner_userbar %}
                                                                        {% block userbar %}
                                                                            {%- if request.user.is_authenticated() -%}
                                                                                {%- block userbar_loggedin -%}
                                                                                    <a class="signed-in-user{% if request.user.is_vouched() %} vouched-user{% endif %}" data-id="{{ request.user.email }}" href="{{ url('account:home') }}">
                                                                                        <img src="{{ request.user.get_avatar(static('img/default-avatar.jpg')) }}" class="avatar" alt="">{{ request.user }}</a>
                                                                                    | {{ persona_logout() }}
                                                                                {%- endblock userbar_loggedin -%}
                                                                            {%- else -%}
                                                                                {%- block userbar_loggedout -%}
                                                                                    {{ persona_login() }}
                                                                                {%- endblock userbar_loggedout -%}
                                                                            {%- endif -%}
                                                                        {% endblock userbar %}
                                                                    {% endblock inner_userbar %}
                                                                </p>
                                                            {% endblock outer_userbar %}
                                                        </div>
                                                    {% endblock outer_navigation %}
                                                {% endblock header %}
                                            </div>
                                        {% endblock inner_header %}
                                    </header>
                                {% endblock outer_header %}
                                {% block outer_content %}
                                    <main id="content" role="main">
                                        {% block outer_banner %}
                                            <div class="banner">
                                                {% block inner_banner %}
                                                    <div class="constrained">
                                                        {% block outer_powerbar %}
                                                            <div id="powerbar" class="powerbar-wrapper">
                                                                {% block inner_powerbar %}
                                                                    <div class="powerbar-content">
                                                                        {% block powerbar %}
                                                                            <form method="GET" action="">
                                                                                <input type="search" id="search" name="q" placeholder="Search">
                                                                                <button type="submit"><i class="fa fa-search"></i></button>
                                                                            </form>
                                                                        {% endblock %}
                                                                    </div>
                                                                {% endblock inner_powerbar %}
                                                            </div>
                                                        {% endblock outer_powerbar %}
                                                        {% block banner %}
                                                            {% block page_meta_wrapper %}
                                                                {% block page_title_wrapper %}
                                                                    <h2 class="page-title">{% block page_title -%}
                                                                        {% if TITLE %}{{ TITLE }}{% endif %}
                                                                    {%- endblock page_title %}</h2>
                                                                {% endblock page_title_wrapper %}
                                                                {% block page_crumbs_wrapper %}
                                                                    <p class="crumbs">{% block page_crumbs -%}
                                                                        {% if CRUMBS -%}
                                                                            <a href="{{ url('home') }}">Home</a> &raquo;
                                                                            {% for crumb, link in CRUMBS -%}
                                                                                <a href="{{ link }}">{{ crumb }}</a>
                                                                                {%- if not loop.last %} &raquo;{% endif %}
                                                                            {% endfor %}
                                                                        {%- endif %}
                                                                    {%- endblock page_crumbs %}</p>
                                                                {% endblock page_crumbs_wrapper %}
                                                            {% endblock page_meta_wrapper %}
                                                        {% endblock banner %}
                                                    </div>
                                                {% endblock inner_banner %}
                                            </div>
                                        {% endblock outer_banner %}
                                        {% block inner_content %}
                                            <div class="constrained">
                                                <div class="body">
                                                    {% block content %}
                                                    {% endblock content %}
                                                </div>
                                            </div>
                                        {% endblock inner_content %}
                                    </main>
                                {% endblock outer_content %}
                                {% block outer_footer %}
                                    <footer id="footer" role="contentinfo">
                                        {% block inner_foooter %}
                                            <div class="constrained">
                                                {% block footer %}
                                                
                                                {% endblock footer %}
                                            </div>
                                        {% endblock %}
                                    </footer>
                                {% endblock outer_footer %}
                            {% endblock page %}
                        </div>
                    </div>
                {% endblock outer_page %}
                {% block js %}
                    {#
                    <script src="https://login.persona.org/include.js"></script>
                    {% compress js %}
                        <script src="{{ static('js/lib/jquery-1.11.1.min.js') }}"></script>
                        <script src="{{ static('browserid/api.js') }}"></script>
                        <script src="{{ static('browserid/browserid.js') }}"></script>
                    {% endcompress %}
                    <script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js?build=61d5d5c"></script>
                    #}
                {% endblock %}
            {% endblock body %}
        </body>
    {% endblock %}
</html>