{% extends "account/notifications/base.html" %}

{% block content %}
<ul class="notifications">
    {% if notifications %}
        {% for notification in notifications %}{# TODO: Paginate #}
            <li class="message{{ notification.unseen and ' unseen' or '' }}">
                <i class="fa fa-envelope{{ not notification.unseen and '-o' or '' }}"></i>
                <strong class="type">
                    <a href="{{ url('account:notifications:detail', notification.slug) }}">{{ _(notification.notice_type.display) }}</a>
                </strong>
                <span class="timestamp">&mdash; {{ time_since(notification.added) }}</span>
            </li>
        {% endfor %}
    {% else %}
        <li class="message"><p>{{ _("No messages.") }}</p></li>
    {% endif %}
</ul>
{% endblock content %}